@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    background-color: #1a1a1a;
    margin: 0;
}
.container {
    margin-inline: auto ;
    background-color: #151515;
    border-radius: 10px;
    width: 35%;
    padding-bottom: 15px;
}
.box {
    position: relative;
    top: 15px;
    text-align: center;
    margin-inline: auto;
    width: 80%;
}
.pricingBox {
    position: relative;
    bottom: 30px;
    margin-inline: auto;
    width: 50%;
    height: 100px;
}
.pricing {
    color: #DC143C;
    font-family: 'Lato', sans-serif;
    position: absolute;

}
.pricing2 {
    color: #DC143C;
    font-family: 'Lato', sans-serif;
    float: right;

}
.label {
    color: white;
    font-family: 'Lato', sans-serif;
    float: left;
    position: relative;
    right: 33px;
}
.label2 {
    color: white;
    font-family: 'Lato', sans-serif;
    float: right;
    position: relative;
    left: 37px;
}
.length {
    display: inline-block;
    position: relative;
    bottom: 75px;
}




.title {
    font-family: 'Hubballi', cursive;
    font-size: 23px;
    color: white;
}
.smallTitle {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color:  #f5f5f8;
    position: relative;
    bottom: 26px;
}
.type {
    font-family: 'Hubballi', cursive;
    color: white;
    font-size: 18px;
    position: relative;
    bottom: 10px;
}
.or {
    color: white;
    font-family: 'Hubballi', cursive;
    position: absolute;
    top: 150px;
    left: 185px;
}
.list {
    position: relative;
    bottom: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
hr {
    position: relative;
    bottom: 40px;
}
.button {
    position: relative;
    bottom: 25px;
}
.button a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 10px 30px;
    background-color: #DC143C;
    border-radius: 10px;
}
.fa-basket-shopping {
    position: relative;
    right: 8px;
}
